*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background: rgba(19, 35, 47, 0.9);
  font-family: 'Titillium Web', sans-serif;
  width:100%;
  margin: 0px auto;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 20px;
  max-width: 100%;
  margin-top: 0px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

.radio {
  margin: 2px;
  color: #ffffff;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

#login,
#register{
	background-color: #4EB8A2;
}

#header_login, 
#header_register{
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
background : #1ab188;
text-align : center;
font-family : 'Titillium Web', sans-serif;
font-size: 11px;
}


.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #004c97;
  background-color: white;
}

.ui-header {
  width: 100%;
  top: 0;
  z-index: 1000;
  min-height: 55px;
  overflow: hidden;
  border: none;
  background: rgba(61, 185, 204, 1);
  /* Header Background */

  color: rgba(255, 255, 255, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.ui-content {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

#map{
	width: 100%;
	height:250px;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  color: #000000;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
 
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
 #target {
        width: 345px;
}

#header_page{
border-bottom-right-radius : 8px;
border-bottom-left-radius : 8px;
background : #41A08D;
font-family: 'Titillium Web', sans-serif;
text-align : center;
}

#title_header{
	margin-top:15px;
	font-size: 22px;
}

#list{
  background-color: #ffffff;
  margin: 0px;
  overflow: auto;
  height:300px;
}

.results{
	  list-style-type: none;
}

.name {
	  font: bold 'Titillium Web', sans-serif;
}

.restaurant img {
  float: left;
  margin-right:  10px;
}

.restaurant p {
  font-family : 'Titillium Web', sans-serif;
}

.restaurant:hover {
  background: #eee;
  cursor: pointer;
}

.restaurant{
  padding-top: 10px;
  overflow: auto;
}

.row-restaurant{
	display: table;
	padding: 20px;
}

.piture-restaurant, .details-restaurant
{
  float: none;
  padding: 20px;
  vertical-align: top;
  display: table-cell;
}

.picure-restaurant{
	width: 30%;
}

.details-restaurant{
	width: 70%;
}
.details-restaurant h1{
	color: #000000;
}

#search_page{
	  height: 100%;
  width: 100%;
	overflow:hidden;
}
