<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/TAUSinglePage3" version="1.0.0" viewmodes="maximized">
    <access origin="http://googleapis.com" subdomains="true"/>
    <access origin="http://gstatic.com" subdomains="true"/>
    <access origin="http://google.com" subdomains="true"/>
    <access origin="*" subdomains="true"/>
    <access origin="http://52.79.42.151" subdomains="true"/>
    <tizen:application id="04iArsKOdl.TAUSinglePage3" package="04iArsKOdl" required_version="2.4"/>
    <content src="search.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/location.batch"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <icon src="icon.png"/>
    <name>TableEat</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:profile name="mobile"/>
    <tizen:setting context-menu="disable"/>
</widget>
